<div class="container col-12 m-0">
    <h5 class="m-0">Les commentaires</h5>
</div>
<div class="container trick-comment-container col-12" data-trick-slug="{{trick.slug}}" data-nb-comment="0">
</div>
<div class="container-fluid col-8 m-auto">
    <button type="button" class="btn btn-primary load-comment mt-3 mb-3">Voir plus de commentaires</button>
</div>