{% extends "layout.html.twig" %}
{% block content %}
    <div class="container-fluid col-5">
        <h5 class="mt-3">Modifier mes informations</h5>
        <p>{{form(form)}}</p>
    </div>
{% endblock %}
